<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Bean definitions for persistence configuration
 -->
<beans default-autowire="byName"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd"
	   >

	<!-- The Hibernate session factory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="mappingResources">
			<list>
				<value>/nl/strohalm/cyclos/dao/definitions.hbm.xml</value>
				<value>/nl/strohalm/cyclos/entities/sms/SmsLog.hbm.xml</value>
				<value>/nl/strohalm/cyclos/entities/sms/SmsType.hbm.xml</value>
				<value>/nl/strohalm/cyclos/entities/sms/MemberSmsStatus.hbm.xml</value>
				<value>/nl/strohalm/cyclos/entities/sms/MemberSmsStatusLock.hbm.xml</value>
				<value>/nl/strohalm/cyclos/entities/sms/SmsMailing.hbm.xml</value>
			</list>
		</property>
		<property name="packagesToScan" value="nl.strohalm.cyclos.entities" />
		<!-- 
		<property name="eventListeners">
			<map>
				<entry key="post-update">
					<ref bean="writeDetectEventListener"/>
				</entry>
				<entry key="post-insert">
					<ref bean="writeDetectEventListener"/>
				</entry>
				<entry key="post-delete">
					<ref bean="writeDetectEventListener"/>
				</entry>
				<entry key="post-collection-recreate">
					<ref bean="writeDetectEventListener"/>
				</entry>
				<entry key="post-collection-remove">
					<ref bean="writeDetectEventListener"/>
				</entry>
				<entry key="post-collection-update">
					<ref bean="writeDetectEventListener"/>
				</entry>
			</map>
		</property>
                -->
	</bean>
	
	<bean id="writeDetectEventListener" class="nl.strohalm.cyclos.utils.hibernate.WriteDetectEventListener" />
	
	<!-- The Hibernate configuration object -->
	<util:property-path id="configuration" path="&amp;sessionFactory.configuration"/>

	<!-- Declared hibernate properties on the Cyclos configuration file -->
	<util:properties id="hibernateProperties" location="classpath:/cyclos.properties" />

	<!-- Transaction related beans -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager"/>
	<bean id="transactionTemplate" class="org.springframework.transaction.support.TransactionTemplate"/>
	
    <!-- Hibernate specific helpers -->
	<bean id="hibernateQueryHandler" class="nl.strohalm.cyclos.utils.hibernate.HibernateQueryHandler"/>
	<bean id="hibernateCustomFieldHandler" class="nl.strohalm.cyclos.utils.hibernate.HibernateCustomFieldHandler"/>

	<!-- Lucene specific helpers -->
	<bean id="luceneQueryHandler" class="nl.strohalm.cyclos.utils.lucene.LuceneQueryHandler"/>
	<bean id="indexHandler" class="nl.strohalm.cyclos.utils.lucene.IndexHandler">
		<property name="documentMappers">
			<map>
				<entry key="nl.strohalm.cyclos.entities.members.Administrator">
					<bean class="nl.strohalm.cyclos.dao.members.AdministratorDocumentMapper" />
				</entry>
				<entry key="nl.strohalm.cyclos.entities.members.Member">
					<bean class="nl.strohalm.cyclos.dao.members.MemberDocumentMapper" />
				</entry>
				<entry key="nl.strohalm.cyclos.entities.members.Operator">
					<bean class="nl.strohalm.cyclos.dao.members.OperatorDocumentMapper" />
				</entry>
				<entry key="nl.strohalm.cyclos.entities.ads.Ad">
					<bean class="nl.strohalm.cyclos.dao.ads.AdDocumentMapper" />
				</entry>
				<entry key="nl.strohalm.cyclos.entities.members.records.MemberRecord">
					<bean class="nl.strohalm.cyclos.dao.members.MemberRecordDocumentMapper" />
				</entry>
			</map>
		</property>
	</bean>
	<bean id="indexOperationRunner" class="nl.strohalm.cyclos.utils.lucene.IndexOperationRunner" />
	
</beans>