<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Bean definitions for persistence configuration
 -->
<beans default-autowire="byName"
       xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd"
	   >

	<!--  Tell spring to use annotation based congfigurations and where to find the beans -->
	<context:annotation-config />
	<context:component-scan base-package="nl.strohalm.cyclos.dao" />
	<context:component-scan base-package="nl.strohalm.cyclos.utils" />

	<context:property-placeholder location="classpath:/cyclos.properties"/>

	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean" >
		<property name="packagesToScan" value="nl.strohalm.cyclos.entities" />
		<property name="dataSource" ref="dataSource" />
		<property name="jpaVendorAdapter">
			<bean class="${jpa.vendor.adapter}"/>
		</property>
		<property name="jpaProperties" ref="${jpa.properties}" />
	</bean>

	<util:properties id="hibernateJpaProperties">
		<prop key="javax.persistence.sharedCache.mode">ENABLE_SELECTIVE</prop>
		<prop key="current_session_context_class">thread</prop>
		<prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
		<prop key="hibernate.dialect">${hibernate.dialect}</prop>
		<prop key="hibernate.cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</prop>
		<!-- used for debug -->
		<prop key="hibernate.show_sql">true</prop>
		<!-- 2nd level cache -->
		<prop key="hibernate.cache.provider_configuration_file_resource_path">classpath:ehcache.xml</prop>
		<prop key="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</prop>
		<prop key="hibernate.cache.provider_class">org.hibernate.cache.SingletonEhCacheProvider</prop>
		<prop key="hibernate.cache.use_second_level_cache">${hibernate.cache.use_second_level_cache}</prop>
		<prop key="hibernate.cache.use_query_cache">${hibernate.cache.use_query_cache}</prop>
		<prop key="hibernate.generate_statistics">true</prop>
	</util:properties>

	<util:properties id="eclipselinkJpaProperties">
		<prop key="javax.persistence.sharedCache.mode">ENABLE_SELECTIVE</prop>
		<prop key="current_session_context_class">thread</prop>
		<prop key="eclipselink.target-database">${eclipselink.target-database}</prop>
		<prop key="eclipselink.weaving">false</prop>
		<!-- used for debug -->
		<prop key="eclipselink.logging.level">INFO</prop>
	</util:properties>

	<util:properties id="openjpaJpaProperties">
		<prop key="javax.persistence.sharedCache.mode">ENABLE_SELECTIVE</prop>
		<prop key="current_session_context_class">thread</prop>
		<prop key="openjpa.jdbc.DBDictionary">${openjpa.jdbc.DBDictionary}</prop>
		<!-- used for debug -->
		<prop key="openjpa.Log">DefaultLevel=WARN, Runtime=INFO, Tool=INFO, SQL=TRACE</prop>
		<!-- 2nd level cache -->
		<prop key="openjpa.DataCache">${hibernate.cache.use_second_level_cache}</prop>
		<prop key="openjpa.QueryCache">${hibernate.cache.use_query_cache}</prop>
	</util:properties>

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${datasource.driver-class-name}" />
		<property name="jdbcUrl" value="${datasource.url}" />
		<property name="user" value="${datasource.username}" />
		<property name="password" value="${datasource.password}" />
		<property name="maxPoolSize" value="${datasource.maxPoolSize}"/>
		<property name="minPoolSize" value="${datasource.minPoolSize}"/>
		<property name="idleConnectionTestPeriod" value="${datasource.idleConnectionTestPeriod}"/>
	</bean>

	<bean id="writeDetectEventListener" class="nl.strohalm.cyclos.utils.jpa.WriteDetectEventListener" />
	
	<!-- Declared hibernate properties on the Cyclos configuration file -->
	<util:properties id="hibernateProperties" location="classpath:/cyclos.properties" />

	<!-- Transaction related beans -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
	<bean id="transactionTemplate" class="org.springframework.transaction.support.TransactionTemplate"/>
	
    <!-- JPA specific helpers -->
	<bean id="jpaQueryHandler" class="nl.strohalm.cyclos.utils.jpa.JpaQueryHandler"/>
	<bean id="jpaCustomFieldHandler" class="nl.strohalm.cyclos.utils.jpa.JpaCustomFieldHandler"/>

	<!-- Lucene specific helpers -->
	<bean id="luceneQueryHandler" class="nl.strohalm.cyclos.utils.lucene.LuceneQueryHandler"/>
	<bean id="indexHandler" class="nl.strohalm.cyclos.utils.lucene.IndexHandler">
		<property name="documentMappers">
			<map>
				<entry key="nl.strohalm.cyclos.entities.members.Administrator">
					<bean class="nl.strohalm.cyclos.dao.members.AdministratorDocumentMapper" />
				</entry>
				<entry key="nl.strohalm.cyclos.entities.members.Member">
					<bean class="nl.strohalm.cyclos.dao.members.MemberDocumentMapper" />
				</entry>
				<entry key="nl.strohalm.cyclos.entities.members.Operator">
					<bean class="nl.strohalm.cyclos.dao.members.OperatorDocumentMapper" />
				</entry>
				<entry key="nl.strohalm.cyclos.entities.ads.Ad">
					<bean class="nl.strohalm.cyclos.dao.ads.AdDocumentMapper" />
				</entry>
				<entry key="nl.strohalm.cyclos.entities.members.records.MemberRecord">
					<bean class="nl.strohalm.cyclos.dao.members.MemberRecordDocumentMapper" />
				</entry>
			</map>
		</property>
	</bean>
	<bean id="indexOperationRunner" class="nl.strohalm.cyclos.utils.lucene.IndexOperationRunner" />
	
</beans>